@model IEnumerable<books.Models.AutorViewModel>

@{
    ViewData["Title"] = "Lista de Autores";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var autor in Model)
        {
            <tr>
                <td>@autor.Id</td>
                <td>@autor.FirstName</td>
                <td>@autor.LastName</td>
            </tr>
        }
    </tbody>
</table>